In [1]:
import json
import pandas as pd

In [2]:
def get_column_names(schemas, ds_name, sortin_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sortin_key])
    return [col['column_name'] for col in columns]

In [3]:
schemas = json.load(open('data/retail_db/schemas.json'))

In [4]:
orders_columns = get_column_names(schemas, 'orders')

In [5]:
orders_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [6]:
orders = pd.read_csv('data/retail_db/orders/part-00000', names=orders_columns)

In [7]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]