In [2]:
import json, glob, pandas as pd, re

In [3]:
schemas = json.load(open('data/retail_db/schemas.json'))

In [4]:
src_file_names = glob.glob('data/retail_db/*/part*')

In [5]:
src_file_names

['data/retail_db\\customers\\part-00000',
 'data/retail_db\\products\\part-00000',
 'data/retail_db\\departments\\part-00000',
 'data/retail_db\\order_items\\part-00000',
 'data/retail_db\\orders\\part-00000',
 'data/retail_db\\categories\\part-00000']

In [6]:
s = 's/a\\b\\c'

In [7]:
s.split('\\')

['s/a', 'b', 'c']

In [8]:
re.split('[/\\\]', s)

['s', 'a', 'b', 'c']

In [9]:
for file in src_file_names:
    print(re.split('[/\\\]', file))

['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'categories', 'part-00000']

In [10]:
file = src_file_names[0]

In [11]:
file

'data/retail_db\\customers\\part-00000'

In [13]:
file_details = re.split('[/\\\]', file)

In [16]:
ds_name = file_details[-2]

In [15]:
def get_column_names(schemas, ds_name, sortin_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sortin_key])
    return [col['column_name'] for col in columns]

In [17]:
columns = get_column_names(schemas, ds_name)

In [18]:
columns

['customer_id',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'customer_password',
 'customer_street',
 'customer_city',
 'customer_state',
 'customer_zipcode']

In [19]:
df = pd.read_csv(file, names=columns)

In [20]:
df

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [21]:
df.shape

(12435, 9)

In [22]:
for file in src_file_names:
    print(f'Processing {file}')
    file_path_list = re.split('[/\\\]', file)
    ds_name = file_path_list[-2]
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    print(f'shape of {ds_name} is {df.shape}')

Processing data/retail_db\customers\part-00000
shape of customers is (12435, 9)
Processing data/retail_db\products\part-00000
shape of products is (1345, 6)
Processing data/retail_db\departments\part-00000
shape of departments is (6, 2)
Processing data/retail_db\order_items\part-00000
shape of order_items is (172198, 6)
Processing data/retail_db\orders\part-00000
shape of orders is (68883, 4)
Processing data/retail_db\categories\part-00000
shape of categories is (58, 3)